.jumbotron {
    text-align: center;
    background:none;
}

.sectionLight {
    
    background-color: #eceeef;
    padding: 2em;
    
}


.sectionDark  {
    background-color: #cccccc;
    padding: 2rem
}

.coolStuffWrapper {
    
    margin-top: 20px; 
}

button.coolStuff-btn {
    
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

img.img-deck {
    
    display: block;
    margin: auto;
}
h5.modal-title {
    
    margin: auto;
}

.modal-header .close {
    margin-left: -1rem;
}
    
.modalFormWrapper {
    
}

.img-center {
    display: block;
    margin: auto;
}

button.btnCenter {
    
    margin-top: 20px;
    margin-bottom: 15px;
    width: 50%;
    
    
}